# registry=http://localhost:8081/repository/npm-group/

#공통 넥서스
registry=http://140.238.6.30:8081/repository/npm-group/
_auth="bXNzOnNvb3Nvbw=="

#3팀 넥서스
#registry=http://172.16.55.140:8081/repository/npm-group/
#_auth="bXNzOnNvb3Nvbw=="
